@font-face {
    font-family: "OldEnglish";
    src: url("OldEnglish.ttf");
}

body {
    background-image: url("bgg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 800px;
    margin: auto;
    overflow-y: scroll;
}

#jmc {
    text-align: center;
    font-family: "OldEnglish";
    color: white;
    text-shadow: 2px 2px 5px black;
}

#cite {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#year {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.table {
    background-color: #bd96e9;
    border-collapse: collapse;
    color: #000;
    font-size: 18px;
}

.table th {
    background-color: #1a192b;
    color: white;
    width: 50%;
    padding: 20px 20px;
    border-color: #01002e;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hiddden;
    word-break: normal;
}

.table td {
    background-color: #0503249c;
    border-bottom: 1px dotted #ce2c70;
    padding: 20px 20px;
    border-color: #000b2e;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hiddden;
    word-break: normal;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
}